*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-section{
    width: 40%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.img-section{
    width: 60%;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
justify-content: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 20px;
}
label{
    color: rgb(241, 242, 243);
    margin-right: 240px;
    
}
input{
    width: 350px;
    height: 40px;
    margin-bottom: 30px;
    border-color: white;
    background-color: black;
    border-radius: 1px;
}
.sgin{
    width: 300px;
    height: 45px;
border-radius: 2px;
background-color: rgba(77, 77, 240, 0.644);
color: white;
}
.FP{
margin-top: 50px;
color: rgba(70, 70, 236, 0.822);
}
.CS{
    margin-top: 20px;
    color: rgba(70, 70, 236, 0.822); 
}
.create{
width: 300px;
height: 45px;
border-radius: 2px;
color: white;
background-color: rgb(75, 74, 74);
border-color: black;
border: none;
}
.img-section img{
    width: 500px;
   
}
p{
    margin-top: 20px;
    color: aqua;
    font-size: 16px;
}