*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.container{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(196, 197, 197);
margin-top: 10px;

}
.box{
width: 400px;
height: 400px;
background-color: aliceblue;
display: flex;
align-items:center ;
justify-content: center;
border-radius: 20px;
border: 10px solid ;
flex-direction: column;
box-shadow: 2px 2px 2px whitesmoke;
margin-top: 10px;
}
button {
  
    width: 120px;
    height: 30px;
    box-shadow: 3px 3px 3px 3px black;
    margin-top: 10px;
    
}
button a{
    text-decoration: none;
    color: rgb(228, 33, 33);
}








img{
width: 120px;

}

