  input{
    width: 300px;
    height: 30px;
    border: none;

   background: transparent;
   border-bottom: 1px solid black;
  }
  div{
    background-color:whitesmoke;
 height: 400px;
width: 400px;
margin-top: 100px;
margin-left: 400px;

  }

div img{
    width: 140px;
    margin-top: 30px;
    margin-left: 30px;
}
h2 , input, p, a{
    margin-left: 30px;
}
  body{

    background-color: rgb(106, 150, 126);


    }



a{
    color: rgb(84, 128, 185);
    text-decoration: none;
}
a:hover{
    color: gray;
    border-bottom: 1px solid gray;
}






button{
width: 80px;
height: 30px;
border: none;



}